@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("tradingNameAndBusinessAddress.title"))) {

    @formHelper(action = routes.TradingNameAndBusinessAddressController.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("tradingNameAndBusinessAddress.heading")</h1>

        @govukInput(
            InputViewModel(
                field = form("field1"),
                label = LabelViewModel(messages("tradingNameAndBusinessAddress.field1"))
            )
            .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("field2"),
                label = LabelViewModel(messages("tradingNameAndBusinessAddress.field2"))
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
