@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("deletePreviousScheme.title"))) {

    @formHelper(action = routes.DeletePreviousSchemeController.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("deletePreviousScheme.heading")).asPageHeading(),
                items  = DeletePreviousScheme.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
